*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #666666;
    font-family: "Indie Flower";
    color: #393b40;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 50px;
    row-gap: 70px;
    margin-top: 5em;
    margin-inline: 3em;
}

h2 {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 15px;
}

p {
    font-size: 2rem;
}

.postit {
    width: 350px;
    height: 350px;
    text-align: center;
    box-shadow: 15px 15px 9px -6px rgba(0,0,0,0.35);
    animation: leftRight 1000ms forwards;
    transition: transform 1000ms, box-shadow 1000ms;
}

.postit:hover {
    transform: scale(1.2) rotate(0deg);
    box-shadow: 30px 30px 9px -6px rgba(0,0,0,0.7);
}

.yellow {
    background-color: #e9eab3;
    transform: rotate(-10deg);
}

.green {
    background-color: #bae0bb;
    transform: rotate(10deg);
}

.purple {
    background-color: #b5b4d3;
    transform: rotate(-5deg);
}

.text-container {
    padding-top: 8em;
}

@keyframes leftRight {
    0% {
        scale: 2;
    }
    50% {
        scale: 0.9;
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.7);
    }
}