*, *::before, *::before {
    box-sizing: border-box;
}

body {
    background-color: #666666;
    font-family: "Indie Flower";
    color: #393b40;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-shrink: 0;
    column-gap: 50px;
    row-gap: 70px;
    margin-top: 5em;
    margin-inline: 3em;
}

h2 {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 15px;
}

p {
    font-size: 2rem;
}

.postit {
    width: 350px;
    height: 350px;
    text-align: center;
    box-shadow: 15px 15px 9px -6px rgba(0,0,0,0.35);
    transition: scale 1000ms, box-shadow 1000ms, rotate 500ms;
}

.postit:hover {
    scale: 1.2;
    rotate: 0deg;
    box-shadow: 30px 30px 9px -6px rgba(0,0,0,0.7);
}

.yellow {
    background-color: #e9eab3;
    rotate: -10deg;
}

.green {
    background-color: #bae0bb;
    rotate: 10deg;
}

.purple {
    background-color: #b5b4d3;
    rotate: -5deg;
}

.text-container {
    padding-top: 8em;
}