body {
    background-color: #666666;
    font-family: "Indie Flower";
    color: #393b40;
    min-width: 1200px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 50px;
    row-gap: 70px;
    margin-top: 5em;
    margin-inline: 2em;
}

h2 {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 15px;
}

p {
    font-size: 2rem;
}

.postit {
    width: 350px;
    height: 350px;
    text-align: center;
    box-shadow: 10px 9px 13px -4px rgba(0,0,0,0.7);
}

.yellow {
    background-color: #e9eab3;
    rotate: -10deg;
}

.green {
    background-color: #bae0bb;
    rotate: 10deg;
}

.purple {
    background-color: #b5b4d3;
    rotate: -5deg;
}

.text-container {
    padding-top: 8em;
}